<div class="panel panel-default">
    <div class="panel-body">

        <div style="max-height: 70vh">
        <h3>Pages</h3>
        <form name="pageForm" ng-submit="addPage(pageToAdd)" class="form-inline">
            <div class="pageDiv">
                    <div  ng-repeat="page in pageData.pages" name="pageList" class="row" style="overflow-y:auto">
                        <Span class="form-control col-xs-8">{{page.name}}</Span>
                        <button ng-click="pageData.continueLoad($index)" ng-disabled="!page.loadLimitHit" ng-hide="page.loadFinished" type="button" class="btn btn-default col-xs-2" aria-label="Right Align">
                            <span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span>
                        </button>
                        <button ng-click="pageData.removePage($index)" ng-disabled="page.loadRemain" type="button" class="btn btn-default col-xs-2" aria-label="Right Align">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </div>
            </div>
            <br>
            <!--<input name="inputPageElement" type="text" class="input-group" ng-model="pageToAdd" placeholder="Add a new Page">-->
            <autocomplete ng-model="pageToAdd" data="suggestions" on-type="triggerUpdateSuggestions" Style=""></autocomplete>


        </form>
        <div style="position: relative; bottom: auto;">
            <h3>Time Range</h3>

            <form class="form-horizontal">

                <div class="form-group">
                    <label class="col-sm-2 control-label">Start:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-click="updateTime()" ng-disabled="true" ng-model="minDate" max="{{maxDate}}" min="0"  class="form-control">
                    </div>
                </div>

                <!--
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                            <label>
                                 <input type="button" class="btn btn-xs" ng-click="setMinimum()" value="Use Current Date">
                             </label>
                     </div>
                 </div>
                !-->



                 <div class="form-group">
                     <label class="col-sm-2 control-label">End:</label>
                     <div class="col-sm-10">
                         <input ng-click="updateTime()" type="text" ng-disabled="true" ng-model="maxDate" min="{{minDate}}" class="form-control">
                     </div>
                 </div>
                 <div class="form-group">
                     <div class="col-sm-offset-2 col-sm-10">
                             <label>
                                <!-- <input type="button" class="btn btn-xs" ng-click="setMaximum()" value="Use Date Created"> !-->
                            </label>
                    </div>
                </div>
            </form>
        </div>
        </div>

    </div>
</div>
