<div style="max-height: 70vh">
<h3>Pages</h3>


<form name="pageForm" ng-submit="addPage(pageToAdd)" class="form-inline">
    <div class="pageDiv">
            <div  ng-repeat="page in pageData.pages" name="pageList" class="row" style="overflow-y:auto">
                <input class="col-xs-2" type="checkbox" ng-model="page.selected" style="margin-left: 10%">
                <Span class="form-control col-xs-8">{{page.name}}</Span>
                <button ng-click="removePage($index)" type="button" class="btn btn-default col-xs-2" aria-label="Right Align">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>
    </div>
    <br>
    <input name="inputPageElement" type="text" class="input-group" ng-model="pageToAdd" placeholder="Add a new Page">
    <span ng-show="true">Username is required.</span>


</form>
<div style="position: absolute;">
    <h3>Time Range</h3>

    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">Start:</label>
            <div class="col-sm-10">
                <input type="date" ng-click="updateTime()" ng-model="minDate" max="{{maxDate}}" min="0"  class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="button" class="btn" ng-click="setMinimum()" value="Use Current Date">
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label class="col-sm-2 control-label">End:</label>
            <div class="col-sm-10">
                <input ng-click="updateTime()" type="date" ng-model="maxDate" min="{{minDate}}" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="button" class="btn" ng-click="setMaximum()" value="Use Date Created">
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>
</div>